<div class="card mb-5">
    <div class="card-image">
      <figure class="image is-4by3">
        <img
          [src]="imageUrl"
          alt="Placeholder image"
        />
      </figure>
    </div>
    <div class="card-content">
      <div class="media-content">
        <p class="title is-4">Title:  {{ title }}</p>
        <p class="subtitle is-6">Genre: {{ genre }}</p>
        <p class="subtitle is-6">Rating: {{ rating }}</p>
        <p class="subtitle is-6">Year {{ year }}</p>
      </div>
    </div>
  </div>
